:root {
  --primary: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --primary-dark: #404bbf;
  --white: #ffffff;
}
body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--text);
}
.logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark);
}
.logo > span {
  color: var(--primary);
}
.link {
  text-decoration: none;
  color: var(--text);
}
.list {
  list-style: none;
}
.site-nav .link {
  color: var(--dark);
  font-weight: 500;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text);
}
.link:active:not(.logo) {
  color: var(--primary);
}
.title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--white);
}
.hero {
  background-color: var(--dark);
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  letter-spacing: 0.04em;
}
.button.primary {
  color: var(--white);
  background-color: var(--primary);
}
.button.secondary {
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}
.button.secondary:hover {
  color: var(--white);
  background-color: var(--primary);
}
.button:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.button:active {
  background-color: var(--primary-dark);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.subject {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.page-footer {
  background-color: var(--dark);
}
.page-footer > .logo {
  color: var(--light);
}
.page-footer > p {
  color: var(--accent);
}
.site-nav .link.active {
  color: var(--primary);
}
